
.timerbtn{
    width: 80px;
    height: 30px;
    border: 3px solid ;
    border-radius: 12px;
    background-color: #333333;
    color: white;
    cursor: pointer;
    font-family: consolas, monospace;
}
#timeDisplay{
    font-size: 75px;
    color: #40c437;
    font-family: consolas,monospace;
}
#timecontainer{
    text-align: center;
    border-radius: 25px;
    border: 3px solid ;
    background-color: #222222;
}